.join {
    width: 100%;
    margin-top: 50px;
    min-height: calc(100vh - 100px);
    overflow: hidden;
}

.content {
    width: 100%;
    max-width: 400px;
    margin: auto;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: Aldrich;
    text-align: center;
    margin-bottom: 50px;
}

.plansDiv {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.plan {
    width: 250px;
    margin: 0 30px;
}

.header {
    width: 100%;
    aspect-ratio: 1.2;
    border-radius: 10px;
    font-family: 'Alegreya', serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    text-align: center;
    margin-bottom: 25px;
}

.header h1 {
    letter-spacing: 1.5px;
}

.header p {
    font-size: 14px;
    letter-spacing: 1.1px;
    margin: 6px 0;
}

.plan:nth-of-type(3) .header p {
    margin: 15px 0;
}

.header h5 {
    font-weight: 400;
}

.header h3 {
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.plan:nth-of-type(2) .header div {
    background-color: white;
    color: black;
    padding: 5px 30px;
    width: fit-content;
    font-size: 14px;
    margin-top: 20px;
    font-weight: 600;
    font-family: Roboto, 'cursive';
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan:nth-of-type(2) .header div svg {
    margin-left: 5px;
    margin-top: -2px;
}

.plan:nth-of-type(2) .header div path {
    color: yellow;
    stroke: #D75319;
    stroke-width: 100px;
}

.plan:nth-of-type(1) .header {
    background-color: #00633F;
}

.plan:nth-of-type(2) .header {
    background-color: #D75319;
    aspect-ratio: 1;
}

.plan:nth-of-type(3) .header {
    background-color: #610063;
}

.includeText {
    font-family: Roboto, 'cursive';
    padding-bottom: 7px;
    border-bottom: 1px solid gray;
}

.plan:nth-of-type(1) .includeText {
    color: #00633F;
}

.plan:nth-of-type(2) .includeText {
    color: #D75319;
}

.plan:nth-of-type(3) .includeText {
    color: #610063;
}

.features {
    margin-top: 15px;
    padding-left: 3px;
}

.feature {
    margin: 7px 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.feature img {
    height: 22px;
    margin-right: 15px;
}

.border {
    margin: 50px auto;
    margin-bottom: 0;
    width: 90%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.borderLine {
    width: 100%;
    flex-shrink: 1;
    height: 3px;
    background-color: var(--primary-color);
}

.borderBox {
    width: 7px;
    height: 7px;
    background-color: var(--primary-color);
    transform: rotate(45deg);
}

.joinForm {
    margin: 30px 0;
    margin-bottom: 80px;
    background-color: black;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    background-image: url(../../Media/form-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background {
    width: 100%;
    height: 100%;
    padding: 80px 0;
    background-color: rgba(0, 0, 0, 0.60);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: Roboto, 'cursive';
}

.formHeading {
    font-size: 3rem;
    font-family: Aldrich, 'cursive';
    letter-spacing: 2px;
}

.formDescription {
    text-align: center;
    font-size: 1.5rem;
    max-width: 500px;
    letter-spacing: 1.2px;
    margin: 30px auto;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 500px;
}

.inputDiv {
    width: 49%;
}

.textArea,
.submit {
    width: 100%;
}

.submit {
    text-align: center;
    margin-top: 10px;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: 3px auto;
    border-radius: 5px;
}

.option {
    padding: 10px !important;
}

.submit button {
    padding: 5px 20px;
    text-transform: uppercase;
    background-color: #288BFF;
    color: white;
    border-radius: 5px;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    cursor: pointer;
}

@media screen and (max-width: 980px) {
    .plan {
        width: 200px;
        margin: 0 10px;
    }
    .header {
        border-radius: 7px;
        aspect-ratio: auto;
        min-height: 160px;
        padding: 10px 5px;
        margin-bottom: 10px;
    }
    .header h1 {
        letter-spacing: 1.25px;
        font-size: 1.75rem;
    }
    .header p {
        font-size: 13px;
        letter-spacing: 1px;
        margin: 4px 0;
    }
    .plan:nth-of-type(3) .header p {
        margin: 10px 0;
    }
    .plan:nth-of-type(2) .header div {
        padding: 5px 20px;
        font-size: 12px;
        margin-top: 10px;
    }
    .header h3 {
        letter-spacing: 1px;
        font-size: 1.1rem;
    }
    .includeText {
        font-size: 14px;
    }
    .feature img {
        height: 18px;
        margin-right: 10px;
    }
    .features {
        font-size: 14px;
    }
}

@media screen and (max-width: 720px) {
    .content {
        margin: 25px auto;
    }
}

@media screen and (max-width: 695px) {
    .plan {
        width: 150px;
        margin: 0 7px;
    }
    .header {
        border-radius: 5px;
        aspect-ratio: auto;
        min-height: 160px;
        padding: 10px 5px;
        margin-bottom: 10px;
    }
    .plan:nth-of-type(2) .header {
        aspect-ratio: 0.8;
    }
    .header h1 {
        letter-spacing: 1.15px;
        font-size: 1.5rem;
    }
    .header p {
        font-size: 10px;
        letter-spacing: 1px;
        margin: 1px 0;
    }
    .plan:nth-of-type(3) .header p {
        margin: 10px 0;
    }
    .plan:nth-of-type(2) .header div {
        padding: 5px 20px;
        font-size: 10px;
        margin-top: 10px;
    }
    .header h3 {
        letter-spacing: 1px;
        font-size: 0.9rem;
    }
    .includeText {
        font-size: 12px;
    }
    .feature img {
        height: 16px;
        margin-right: 7px;
    }
    .features {
        font-size: 12px;
    }
}

@media screen and (max-width: 519px) {
    .plan {
        width: 300px;
        margin: 30px 0;
    }
    .header {
        border-radius: 5px;
        aspect-ratio: auto !important;
        padding: 15px 5px;
        margin-bottom: 10px;
    }
    .header h1 {
        letter-spacing: 1.15px;
        font-size: 1.9rem;
    }
    .header p {
        font-size: 15px;
        letter-spacing: 1px;
        margin: 8px 0;
    }
    .plan:nth-of-type(3) .header p {
        margin: 15px 0;
    }
    .header h3 {
        letter-spacing: 1px;
        font-size: 01.25rem;
    }
    .includeText {
        font-size: 16px;
    }
    .feature img {
        height: 20px;
        margin-right: 10px;
    }
    .features {
        font-size: 16px;
    }
    .formHeading {
        font-size: 2.5rem;
        letter-spacing: 1.5px;
    }
    .formDescription {
        font-size: 1.25rem;
        letter-spacing: 1px;
        margin: 20px auto;
    }
    .background {
        padding: 80px 20px;
        text-align: center;
    }
}

@media screen and (max-width: 395px) {
    .background {
        padding: 80px 10px;
        text-align: center;
    }
    .inputDiv {
        width: 100%;
        max-width: 300px;
        margin: auto;
    }
}