.shop {
    width: 100%;
    margin-top: 50px;
    min-height: calc(100vh - 100px);
}

.products {
    width: 100%;
    height: fit-content;
    max-height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.products::-webkit-scrollbar {
    display: none;
}