.shop {
    width: 100%;
    margin-top: 50px;
    min-height: calc(100vh - 100px);
}

.productCard {
    width: 200px;
    border: 2px groove rgb(69, 69, 69);
    border-radius: 5px;
    overflow: hidden;
}

.productImage {
    width: 100%;
    height: 115px;
    border-bottom: 2px solid black;
}

.productBody {
    padding: 6px;
    font-family: 'Roboto', sans-serif;
    height: 125px;
    overflow: hidden;
}

.productLabel {
    font-size: 11px;
    background-color: #00AC6E;
    color: white;
    width: fit-content;
    padding: 2px 8px;
    border-radius: 20px;
    font-family: 'Aldrich', sans-serif;
    margin-left: -1px;
    margin-bottom: 8px;
}

.productName {
    font-weight: 900;
    margin: 5px 0;
    white-space: nowrap;
}

.productDescription {
    color: grey;
    font-size: 10px;
}

.productPrice {
    color: var(--navbar-bg-color);
    font-weight: 900;
    font-size: 18px;
    margin: 7px 0;
}

.orderNowBtn {
    background-color: var(--primary-color);
    height: 35px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Aldrich', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}