@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Arvo:wght@700&family=Big+Shoulders+Stencil+Display:wght@900&family=Roboto+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --primary-color: #F67035;
    --app-height: 100%;
}

.text-primary-color {
    color: var(--primary-color);
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}