@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Arvo:wght@700&family=Roboto&family=Big+Shoulders+Stencil+Display:wght@900&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --primary-color: #F67035;
    --navbar-bg-color: #0D0400;
    --app-height: 100%;
}

.text-primary-color {
    color: var(--primary-color);
}

.navbar-bg-color {
    background-color: var(--navbar-bg-color);
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.absolute {
    position: absolute;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: var(--navbar-bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 50px;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

.image-header {
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
}

.image-header img {
    width: 100%;
    opacity: 60%;
    min-height: 100%;
}

.image-header div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: 5px;
    padding-top: 50px;
}

.content-section {
    width: 95%;
    max-width: 1080px;
    margin: auto;
    color: black;
    height: fit-content;
    padding: 60px 0 60px 0;
    position: relative;
    overflow: hidden;
}

.paragraph {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0.9px;
    font-size: 1.3rem;
    margin: 40px 0;
}

.paragraph:first-of-type {
    margin-top: 0;
}

.paragraph:last-of-type {
    margin-bottom: 0;
}

.paragraph span {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.4rem;
}

@media screen and (max-width: 720px) {
    .image-header div {
        font-size: 3rem;
        letter-spacing: 4.75px;
    }
}

@media screen and (max-width: 500px) {
    .navsList div {
        margin: 0 7px;
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    .navsList div {
        margin: 0 4px;
        font-size: 12.5px;
    }
}