.CartItem {
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 15px 0;
    background-color: #FFFAFA;
}

.CartItem:nth-of-type(1) {
    margin-top: 0;
}

.image {
    width: 120px;
    min-width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 10px;
}

.image img {
    height: 100%;
}

.ProductDescription {
    height: 120px;
    width: 100%;
    flex-shrink: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.ProductDescription h1 {
    font-family: Aldrich;
    font-size: 1.4rem;
    white-space: nowrap;
}

.ProductDescription p {
    font-size: 12px;
    color: gray;
    font-family: Roboto, 'cursive';
    margin: 6px 0;
}

.ProductDescription div svg path {
    stroke: black;
    stroke-width: 50px;
    fill: yellow;
}

.ProductDescription div svg {
    margin: 5px 2px;
}

.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.quantity svg {
    height: 22px;
    width: 22px;
    cursor: pointer;
    margin-top: 5px;
}

.quantity div:nth-of-type(1) path {
    fill: red;
}

.quantity div:nth-of-type(3) path {
    fill: green;
}

.quantity .number {
    margin: 0 10px;
    font-family: Roboto, 'cursive';
}

.price {
    font-family: Roboto, 'cursive';
    white-space: nowrap;
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
}

.deleteBtn {
    margin-left: 20px;
    cursor: pointer;
}

.leftInner {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 946px) {
    .image {
        width: 100px;
        min-width: 100px;
        height: 100px;
    }
    .ProductDescription {
        height: 100px;
    }
    .ProductDescription h1 {
        font-size: 1.2rem;
    }
    .ProductDescription p {
        font-size: 11px;
    }
    .leftInner {
        margin-left: 5px;
    }
    .quantity {
        margin: 0;
    }
    .quantity .number {
        margin: 0 4px;
    }
    .price {
        margin: 0 10px;
    }
    .deleteBtn {
        margin: 0px;
    }
}

@media only screen and (max-width: 758px) {
    .CartItem {
        margin: 5px auto;
        border-width: 1.5px;
    }
    .price {
        margin: 0 20px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 500px) {
    .price {
        margin: 0 10px;
    }
}

@media only screen and (max-width: 460px) {
    .image {
        width: 80px;
        min-width: 80px;
        height: 80px;
    }
    .ProductDescription {
        height: 80px;
    }
    .ProductDescription h1 {
        font-size: 1rem;
    }
    .ProductDescription p {
        font-size: 10px;
    }
}

@media only screen and (max-width: 420px) {
    .CartItem {
        padding: 5px;
    }
    .leftInner {
        flex-direction: column;
    }
    .price {
        margin: 10px 0;
    }
}